body{
    padding:1%;
    margin:1% 1%;
    }

ul {
    width:100%;
    padding:0;
    margin:5px 0px;
    vertical-align:middle;
   }

li {
    display:block;
    padding:1px;
    margin:1px 10px;
    
    font-size:14px;
    height:15px;
    list-style-type:none;
    border-color:gray;
    border-width:1px;
    border-style:solid;
    }

.selected {
    background-color:silver;
    }

#frame {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    }

#listbox {
    display:inline-block;
    width:15%;
    height:100%;
    padding:0;
    margin:0;
    border-color:gray;
    border-width:1px;
    border-style:solid;
    }

#graph{
    display:inline-block;
    width:84%;
    height:100%;
    padding:0;
    margin:0;
    }

#float_clear{
    width:100%;
    border-color:gray;
    border-width:1px;
    border-style:solid;
    }

#file_selecter{
    width:100%;
    border-color:gray;
    border-width:1px;
    border-style:solid;
    }

#title{
    font-size:x-large;
    font-weight:bold;
    }