li {
    padding:1px;
    border-color:gray;
    border-width:1px;
    border-style:solid;
    }
.selected {
    background-color:silver;
    }
#listbox {
    border-color:gray;
    border-width:1px;
    border-style:solid;
    }

#graph{
    }

#float_clear{
    border-color:gray;
    border-width:1px;
    border-style:solid;
    }

#file_selecter_field{
    border-color:gray;
    border-width:1px;
    border-style:solid;
    }

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}
